* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
#main{
    width:100%;
    min-height: 88.4vh;
    padding:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-pattern);
    background-repeat: repeat;
    background-attachment: fixed;
  }