* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main{
    width:100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: var(--bg-pattern);
    background-repeat: repeat;
    background-attachment: fixed;
  }